div {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
  }
  
  /* Timer styling */
  .timer {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4285f4;
  }
  .questionDiv{
    text-align: start;
  }
  /* Question section styling */
  h2 {
    font-size: 25px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    font-size: 20px;
    color: #555;
    margin-bottom: 8px;
  }
  
  /* Next button styling */
  button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3c78d8;
  }
  
  button:active {
    background-color: #356ac3;
  }

  .buttonDiv{
    display: flex;
    justify-content: space-between;
  }

  .submitBtn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3498db;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submitBtn:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #ffffff;
  }